@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#navigator-toolbox, #nav-bar, #TabsToolbar, #PersonalToolbar, #appcontent {
    background-color: transparent !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
}

:root {
    --tabs-navbar-separator-style: none !important;
}

#TabsToolbar {
    visibility: visible !important;
    margin-top: 0px !important;
    transform: translateY(0px) !important;
}

.titlebar-buttonbox-container {
    display: none !important;
}

#nav-bar, #PersonalToolbar {
    box-shadow: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

/* Cor da aba ativa (Idêntica à barra de pesquisa) */
.tabbrowser-tab[selected] .tab-background {
    background-color: var(--toolbar-field-background-color) !important; /* Puxa a cor original da barra */
    background-image: none !important;
    box-shadow: none !important;
}

/* Efeito Hover nas abas inativas */
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]) {
    background-color: rgba(255, 255, 255, 0.05) !important;
}
